<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{header-fragment :: common-head('Добавить категорию')}"></th:block>
<body>
<div class="container mt-5">
    <h2 class="mt-5 d-flex justify-content-between">Добавить категорию
        <div style="position: absolute; top: 50px; right: 400px;">
            <div class="d-flex gap-1">
                <form th:action="@{/users/{userId}(userId=${userId})}" method="get">
                    <button type="submit" class="btn btn-light">Моя страница</button>
                </form>
                <form th:action="@{/products}" method="get">
                    <button type="submit" class="btn btn-light">Все товары</button>
                </form>
            </div>
        </div>
    </h2>


    <form th:action="@{/categories/create-with-image}" method="post" th:object="${category}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="categoryName" class="form-label">Название категории</label>
            <input type="text" class="form-control" id="categoryName" th:field="*{name}">
        </div>
        <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" role="alert">
            <p th:errors="*{name}">Ошибка</p>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}">Ошибка</p>
        </div>

        <div class="mb-3">
            <label for="visible" class="form-label">Видимость на главной странице:</label>
            <input type="hidden" name="_visible" value="off" />
            <input type="checkbox" id="visible" name="visible" th:field="*{visible}" />
            <div class="form-text">Если флажок установлен, то категория будет видна в каталоге.</div>
        </div>


        <div class="mb-3">
            <label for="image" class="form-label">Фото:</label>
            <input type="file" id="image" name="image" class="form-control-file">
        </div>

        <button type="submit" class="btn btn-secondary">Создать категорию</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
