<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавить нового пользователя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Корзина</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/checkout}">Оформление заказа</a></li>
            </ul>
            <form class="d-flex" th:action="@{/auth/logout}" method="post">
                <button class="btn btn-outline-light" type="submit">Выход</button>
            </form>
        </div>
    </div>
</nav>

<button class="btn btn-dark d-md-none m-2" type="button" id="toggleSidebar">
    ☰ Меню
</button>
<div class="main-container">
    <div class="sidebar bg-light border-end" id="sidebar">
        <form th:action="@{/users/{userId}(userId=${authUserId})}" method="get">
            <button type="submit" class="btn btn-light">Моя страница</button>
        </form>
        <form th:action="@{/products}" method="get">
            <button type="submit" class="btn btn-light">Товары</button>
        </form>
        <form th:action="@{/categories}" method="get">
            <button type="submit" class="btn btn-light">Категории</button>
        </form>
        <form th:action="@{/showcase}" method="get">
            <button type="submit" class="btn btn-light">Управление витриной</button>
        </form>
        <form th:action="@{/orders}" method="get">
            <button type="submit" class="btn btn-light">Заказы</button>
        </form>
        <form th:action="@{/users/list}" method="get"
              th:if="${#authorization.expression('hasRole(''ROLE_SUPER_ADMIN'')')}">
            <button type="submit" class="btn btn-light">Пользователи</button>
        </form>
        <form th:action="@{/users}" method="get"
              th:if="${#authorization.expression('hasRole(''ROLE_SUPER_ADMIN'')')}">
            <button type="submit" class="btn btn-light">Добавить пользователя</button>
        </form>
        <form th:action="@{/users/edit_form/{userId}(userId=${authUserId})}">
            <button type="submit" class="btn btn-light">Редактировать профиль</button>
        </form>
        <button class="btn btn-light no-border" type="button"
                data-bs-toggle="collapse" data-bs-target="#analyticsSubmenu"
                aria-expanded="false" aria-controls="analyticsSubmenu">
            Аналитика
        </button>
        <div class="collapse" id="analyticsSubmenu">
            <form th:action="@{/analytics/order-info-dashboard}" method="get">
                <button type="submit" class="btn btn-light ps-5">Заказы</button>
            </form>
            <form th:action="@{/analytics/page-view-dashboard}" method="get">
                <button type="submit" class="btn btn-light ps-5">Просмотры страниц</button>
            </form>
        </div>
        <form th:action="@{/auth/logout}" method="post">
            <button type="submit" class="btn btn-light">Выйти</button>
        </form>
    </div>

    <div class="content">
        <h2 class="mb-4">Добававить пользователя</h2>
        <form th:action="@{/users}" th:object="${user}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="username" class="form-label">Логин:</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" />
            </div>
            <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('username')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" />
            </div>
            <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('password')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="firstName" class="form-label">Имя:</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" />
            </div>
            <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('firstName')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Фамилия:</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" />
            </div>
            <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('lastName')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="middleName" class="form-label">Отчество:</label>
                <input type="text" class="form-control" id="middleName" th:field="*{middleName}" />
            </div>
            <div th:if="${#fields.hasErrors('middleName')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('middleName')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text" class="form-control" id="email" th:field="*{email}" />
            </div>
            <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('email')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Телефон:</label>
                <input type="text" class="form-control" id="phone" th:field="*{phone}" />
            </div>
            <div th:if="${#fields.hasErrors('phone')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('phone')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Фото:</label>
                <input type="file" id="image" name="image" class="form-control" />
            </div>
            <div th:if="${#fields.hasErrors('photo')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('photo')[0]}"></span>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}">Ошибка</span>
            </div>

            <div class="mb-3">
                <label for="birthDate" class="form-label">Дата рождения:</label>
                <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}" />
            </div>
            <div th:if="${#fields.hasErrors('birthDate')}" class="alert alert-danger" role="alert">
                <span th:text="${#fields.errors('birthDate')[0]}"></span>
            </div>

            <div class="mb-3">
                <label for="role" class="form-label">Роль:</label>
                <select id="role" class="form-control" th:field="*{role}">
                    <option value="ROLE_ADMIN">Администратор</option>
                    <option value="ROLE_SUPER_ADMIN">Супер администратор</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="enabled" class="form-label">Доступ:</label>
                <select id="enabled" class="form-control" th:field="*{enabled}">
                    <option value="TRUE">Разрешить</option>
                    <option value="FALSE">Запретить</option>
                </select>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-secondary">Создать пользователя</button>
            </div>
        </form>
    </div>
</div>
<div id="sidebarBackdrop"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
<script src="/assets/bootstrap/js/user-phone-mask.js"></script>
<script src="/assets/bootstrap/js/sidebar-button.js"></script>
</body>
</html>
