<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Детали заказа</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Корзина</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/checkout}">Оформление заказа</a></li>
            </ul>
            <form class="d-flex" th:action="@{/auth/logout}" method="post">
                <button class="btn btn-outline-light" type="submit">Выход</button>
            </form>
        </div>
    </div>
</nav>

<button class="btn btn-dark d-md-none m-2" type="button" id="toggleSidebar">
    ☰ Меню
</button>
<div class="main-container">
    <div class="sidebar bg-light border-end" id="sidebar">
        <form th:action="@{/users/{userId}(userId=${authUserId})}" method="get">
            <button type="submit" class="btn btn-light">Моя страница</button>
        </form>
        <form th:action="@{/products}" method="get">
            <button type="submit" class="btn btn-light">Товары</button>
        </form>
        <form th:action="@{/categories}" method="get">
            <button type="submit" class="btn btn-light">Категории</button>
        </form>
        <form th:action="@{/showcase}" method="get">
            <button type="submit" class="btn btn-light">Управление витриной</button>
        </form>
        <form th:action="@{/orders}" method="get">
            <button type="submit" class="btn btn-light">Заказы</button>
        </form>
        <form th:action="@{/users/list}" method="get" th:if="${#authorization.expression('hasRole(''ROLE_SUPER_ADMIN'')')}">
            <button type="submit" class="btn btn-light">Пользователи</button>
        </form>
        <form th:action="@{/users}" method="get" th:if="${#authorization.expression('hasRole(''ROLE_SUPER_ADMIN'')')}">
            <button type="submit" class="btn btn-light">Добавить пользователя</button>
        </form>
        <form th:action="@{/users/edit_form/{userId}(userId=${authUserId})}">
            <button type="submit" class="btn btn-light">Редактировать профиль</button>
        </form>
        <button class="btn btn-light no-border" type="button"
                data-bs-toggle="collapse" data-bs-target="#analyticsSubmenu"
                aria-expanded="false" aria-controls="analyticsSubmenu">
            Аналитика
        </button>
        <div class="collapse" id="analyticsSubmenu">
            <form th:action="@{/analytics/order-info-dashboard}" method="get">
                <button type="submit" class="btn btn-light ps-5">Заказы</button>
            </form>
            <form th:action="@{/analytics/page-view-dashboard}" method="get">
                <button type="submit" class="btn btn-light ps-5">Просмотры страниц</button>
            </form>
        </div>
        <form th:action="@{/auth/logout}" method="post">
            <button type="submit" class="btn btn-light">Выйти</button>
        </form>
    </div>

    <div class="content">
        <h2 class="mb-4">Детали заказа</h2>

        <div class="row">
            <div class="col-md-6">
                <h5 class="fw-bold">Основная информация</h5>
                <p><strong>Дата и время заказа:</strong>
                    <span th:text="${#temporals.format(order.createDate, 'yyyy-MM-dd')}"></span> /
                    <span th:text="${#temporals.format(order.createDate, 'HH:mm:ss')}"></span>
                </p>
                <p><strong>Номер заказа:</strong> <span th:text="${order.orderId}"></span></p>
                <p><strong>ФИО :</strong> <span th:text="${order.fullName}"></span></p>
                <p><strong>Email:</strong> <span th:text="${order.customerEmail}"></span></p>
                <p><strong>Телефон:</strong> <span th:text="${order.customerPhone}"></span></p>
                <p><strong>Адрес доставки:</strong> <span th:text="${order.deliveryAddress}"></span></p>
            </div>

            <div class="col-md-6">
                <h5 class="fw-bold">Оплата и доставка</h5>
                <p><strong>Тип доставки:</strong> <span th:text="${order.deliveryType}"></span></p>
                <p><strong>Статус заказа:</strong> <span th:text="${order.orderStatus}"></span></p>
                <p><strong>Статус оплаты:</strong> <span th:text="${order.paymentStatus}"></span></p>
                <p><strong>Сумма товаров:</strong> <span th:text="${order.productAmount}"></span> руб.</p>
                <p><strong>Доставка:</strong> <span th:text="${order.deliveryAmount}"></span> руб.</p>
                <p><strong class="fs-5 text-danger">Итого:</strong> <span th:text="${order.totalOrderAmount}"></span> руб.</p>
            </div>
        </div>

        <h4 class="mt-4">Товары в заказе</h4>
        <table class="table table-striped table-hover border">
            <thead class="table-dark">
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.orderItems}">
                <td th:text="${productsMap[item.product.productId].name}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.pricePerUnit + ' руб.'}"></td>
                <td th:text="${item.quantity * item.pricePerUnit + ' руб.'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="sidebarBackdrop"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/bootstrap/js/sidebar-button.js"></script>
</body>
</html>
